<h1> Reading Log</h1>

<h3>Add a new book</h3>
<%= simple_form_for @book do |form| %> 
    <%= form.input :title %>
    <%= form.input :author %>
    <%= form.button :submit, "Add new book" %>
<% end %>


