<h1>Welcome <%= current_user.username %>! </h1>


<p> 
  You have read the following books:
  <br>
  <% current_profile.book_list.each do |title| %>
    <%= title %> 
    <br>
  <% end %>
</p>
<p> You have read <%= @count %> books total. </p>
<%= link_to "Go to your reading log", readings_path %>
